@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700&display=swap');

#root {
    font-family: 'Roboto Mono', monospace;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    font-weight: 300;
}

@media screen and (max-width: 850px) {
    #root {
        width: 95vw;
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 850px) {
    #about {
        width: 90%;
    }
}

#me {
    width: 300px;
}

@media screen and (max-width: 850px) {
    #me {
        width: 90%;
    }
}

#hello {
    font-size: 2em;
    font-weight: 700;
}

#about-me {
    width: 90%;
}

@media screen and (max-width: 850px) {
    #about-me {
        width: 90%;
    }
}

#email-about-section {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 580px;
}

@media screen and (max-width: 850px) {
    #email-about-section {
        width: 70%;
    }
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 850px) {
    #projects {
        flex-direction: column;
        align-items: center;
    }
}

.title {
    font-size: 2em;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media screen and (max-width: 850px) {
    .title {
        text-align: center;
    }
}

.secondary-info {
    font-weight: 200;
}

.project-title {
    font-weight: 400;
}

.project {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .project {
        margin-bottom: 50px;
    }
}

.project:link {
    text-decoration: none;
}

.project:visited {
    color: black;
}

.project-description:hover {
    text-decoration: none;
}

.project-link {
    font-weight: 300;
    box-shadow: inset 0 4px 0 white, inset 0 -2px 0 #ffcc00;
}

#white-island {
    height: auto;
}

#white-island-pic {
    max-height: 500px;
    width: 100%;
}

#nebula-project {
    width: 450px;
    height: 350px;
}

@media screen and (max-width: 850px) {
    #nebula-project,
    #white-island {
        width: 90%;
    }
}

#nebula-pic {
    width: 100%;
    box-shadow: 0 0 15px 5px #E8E8E8;
    border-radius: 10px;
}

#weather-mgmt {
    width: 250px;
}

#weather-mgmt-pic {
    width: 100%;
    box-shadow: 0 0 15px 5px #E8E8E8;
    border-radius: 32px;
}

#loyalty-app-project {
    width: 250px;
    height: 600px;
    float: right;
}

@media screen and (max-width: 850px) {
    #loyalty-app-project {
        float: none;
    }
}

#loyalty-app-pic {
    width: 100%;
    box-shadow: 0px 0px 20px 5px #E8E8E8;
    border-radius: 32px;
}

#additional-info {
    width: 100%;
}

@media screen and (max-width: 850px) {
    #projects-right,
    #projects-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #projects-left {
        margin-bottom: 50px;
    }

}

.link {
    color: black;
    font-weight: 300;
    text-decoration: none;
    box-shadow: inset 0 4px 0 white, inset 0 -2px 0 #ffcc00;
}

.link:hover {
    color: #ffcc00;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 4px 0 white, inset 0 -2px 0 #ffcc00;
}

#additional-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

@media screen and (max-width: 850px) {
    #additional-skills {
        flex-direction: column;
        align-items: center;
    }
}

.skill {
    width: 350px;
}

@media screen and (max-width: 850px) {
    .skill {
        width: 90%;
    }
}

#work-experience {
    margin-bottom: 64px;
    margin-top: 64px;
}

@media screen and (max-width: 850px) {
    #work-experience {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.job-main-info {
    margin-bottom: 50px;
}

.job-position {
    font-weight: 400;
}

#social {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-link,
.social-link:visited {
    font-weight: 400;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 32px;
    color: #ffcc00;
    background-color: white;
    border: solid #ffcc00 2px;
}

.social-link:hover {
    text-decoration: none;
    color: white;
    background-color: #ffcc00;
    border: solid #ffcc00 2px;
}

#vk {
    margin-left: 20px;
    margin-right: 20px;
}